{% extends 'base.html' %}
{% block head_content %}
{{ block.super }}
<meta name="robots" content="noindex,follow">
{% endblock head_content %}
{% block title_content %}{{ block.super}} - Información{% endblock title_content %}
{% block body_content %}
<h1>GasApp</h1>
<p>GasApp es un proyecto personal basado en <a href="https://play.google.com/store/apps/details?id=com.mobialia.gas.spain" target="_blank">Gasolineras España</a>. Utilizaba esta app asiduamente pero no siempre funciona.</p>
<ul>
	<li>Información y precios de carburantes <a href="https://www.mincotur.gob.es/" target="_blank">Ministerio de Industria, Comercio y Turismo</a></li>
	<li>Datos de mapas © colaboradores <a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a></li>
	<li>Imágenes de mapas © <a href="https://www.mapbox.com/" target="_blank">Mapbox</a></li>
	<li>Creado con <a href="https://leafletjs.com/" target="_blank">Leaflet</a>, <a href="https://github.com/domoritz/leaflet-locatecontrol" target="_blank">Leaflet.Locate</a>,  <a href="https://www.djangoproject.com/" target="_blank">Django</a> y <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a></li>
    <li><a href="https://www.eduardmartinez.es" target="_blank">Sobre mí</a></li>
</ul>
<p><a href="{% url 'home' %}">&lt;Volver a la home</a></p>
{% endblock body_content %}