

<ul>
	<li>Información y precios de carburantes <a href="https://www.mincotur.gob.es/" target="_blank">Ministerio de Industria, Comercio y Turismo</a></li>
	<li>Datos de mapas © colaboradores <a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a></li>
	<li>Imágenes de mapas © <a href="https://www.mapbox.com/" target="_blank">Mapbox</a></li>
	<li>Motor de mapas <a href="https://leafletjs.com/" target="_blank">Leaflet</a> y <a href="https://github.com/domoritz/leaflet-locatecontrol" target="_blank">Leaflet.Locate</a></li>
	<li>Backend <a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
</ul>