<!DOCTYPE html>{% load static %}
<html lang="es">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    	<style>
            html, body { height: 100%; }
    		body { font-family: system-ui, sans-serif; padding:0; margin:0; display:flex; flex-direction: column; }
            #map { flex:1;}
            #station-info { padding: 1rem; }
            .station {
                padding: 0.2rem;
                background: white;
                font-size: 1rem;
                border: 2px solid green;
                height: 2rem;
                width: 2rem;
                text-align: center;
            }
            .station div { 
                background: green; 
                color: white;
                font-size: 0.6rem;
                font-weight: bold;
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
            }
            .hidden { display: none; }
    	</style>
        <link rel="stylesheet" href="{% static 'icons.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin="">
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    </head>
    <body>
        <div id="map"></div>
        <div id="station-info" class="hidden">
            <h1></h1>
            <p>
                <span id="petrol95"><i class="fa fa-gas-station"></i> 95 <b></b></span>
                <span id="petrol98"><i class="fa fa-gas-station"></i> 98 <b></b></span>
                <span id="gasoil"><i class="fa fa-gas-station"></i> Gasoil <b></b></span>
            </p>
            <address>
                <p></p>
                <a href="#" target="_blank" id="directions"><i class="fa fa-navigation"></i> Get directions</a>
            </address>
            <p><small>Actualizado: <span id="updated"></span></small></p>
        </div>
        <div id="icon" class="hidden">
            <i class="fa fa-gas-station"></i>
            <div>1,22 €</div>
        </div>
        {% url 'stations' as stationsUrl %}
        <script>
            let markers = [];
            const qs = function(s){ return document.querySelector(s) };
            const stationsUrl = "{{ stationsUrl|escapejs }}";
            const map = L.map('map').setView([40.4168, -3.7038], 14);
            const iconTemplate = qs('#icon');
            const ios = /iPad|iPhone|iPod/.test(navigator.platform);
            const currencyOptions = { style: 'currency', currency: 'EUR', minimumFractionDigits: 3};
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.control.locate({
                position: 'topright',
                locateOptions: {
                    maxZoom: 17,
                    enableHighAccuracy: true
                }
            }).addTo(map);

            map.on('click', (e) => {
                qs('#station-info').classList.add('hidden');
            });

            map.on('moveend', async (e) => {
                if(map.getZoom() > 12){
                    const params = new URLSearchParams();
                    //params.append('bbox', map.getBounds().toBBoxString());
                    const center = map.getBounds().getCenter();
                    
                    params.append('center', [center.lng, center.lat].join())
                    const response = await (await fetch(stationsUrl + '?' + params.toString())).json();
                    
                    const newMarkers = response.stations.map( (station) => {
                        const s = {};
                        [
                            s.pk,
                            s.name,
                            s.petrol95,
                            s.petrol98,
                            s.gasoil,
                            s.address,
                            s.town,
                            s.city,
                            s.postal_code,
                            s.location,
                            s.updated
                        ] = station
                        qs('#icon div').textContent = s['petrol95'].toLocaleString('es', currencyOptions);
                        
                        return L.marker(s.location.reverse(), { 
                                title: s.name, 
                                alt: s.name, 
                                icon:  L.divIcon({
                                    html: iconTemplate.innerHTML, 
                                    className: 'station',
                                    iconSize: [30, 30],
                                    iconAnchor: [30, 30]
                                }) 
                            })
                            .addTo(map)
                            .on('click', function(){
                                qs('#station-info h1').textContent = s.name;
                                const address = s.town != s.city ?
                                    [ s.address, s.town, s.postal_code, s.city ] :
                                    [ s.address, s.postal_code, s.city ]
                                qs('#station-info address p').textContent = address.join(', ');
                                ['petrol95', 'petrol98', 'gasoil'].forEach((k) => {
                                    if(s[k]){
                                        qs('#' + k + ' b').textContent = s[k].toLocaleString('es', currencyOptions);
                                    }
                                    qs('#' + k).classList.toggle('hidden', !s[k]);
                                });
                                qs('#station-info').classList.remove('hidden');
                                const location = s.location.join();
                                if(ios){
                                    qs('#station-info a').href = `http://maps.apple.com/?daddr=${location}&dirflg=d`;
                                } else {
                                    qs('#station-info a').href = `https://maps.google.com/maps?daddr=${location}&amp;ll=`;
                                    qs('#station-info a').href = `http://maps.apple.com/?daddr=${location}&dirflg=d`;
                               }
                               qs('#updated').textContent = new Date(s.updated * 1000).toLocaleDateString('es', {  });
                            });
                    });
                    markers.forEach((marker) => {
                        map.removeLayer(marker);
                    });
                    markers = newMarkers;
                } else {
                    //TODO pedir mas zoom
                }
	        });

            map.locate({setView: true, maxZoom: 13,  enableHighAccuracy: true, maximumAge: 10});

        </script>
    </body>
</html>
