<!DOCTYPE html>
<html lang="es">
	<head>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<style>
    		body { font-family: system-ui, sans-serif; }
            #map { position: absolute; left: 0; bottom: 0; right:0; top:0; z-index: -1; }
            #location-ask {
                position: absolute; bottom: 0; right:0; left:0;
            }
    	</style>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin="">
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
    </head>
    <body>
        <div id="map"></div>
        <div id="location-ask">
            <p>Es necesario que autorices esta app a utilizar tu localización para centrar el mapa</p>
            <button type="button" id="location-ok">Aceptar</button>
            <button type="button" id="location-cancel">Cancelar</button>
        </div>
        {% url 'stations' as stationsUrl %}
        <script>
            let stationsUrl = "{{ stationsUrl|escapejs }}";
            let map = L.map('map').setView([40.4168, -3.7038], 14);
            let markers = [];
                
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            

            map.on('moveend', async (e) => {
                if(map.getZoom() > 12){
                    let params = new URLSearchParams();
                    //params.append('bbox', map.getBounds().toBBoxString());
                    let center = map.getBounds().getCenter();
                    
                    params.append('center', [center.lng, center.lat].join())
                    let response = await (await fetch(stationsUrl + '?' + params.toString())).json();
                    
                    let newMarkers = response.stations.map( (station) => {
                        let s = {};
                        [
                            s.pk,
                            s.name,
                            s.petrol95,
                            s.petrol98,
                            s.gasoil,
                            s.address,
                            s.town,
                            s.city,
                            s.postal_code,
                            s.location
                        ] = station
                    
                        return L.marker(s.location.reverse(), { title: s.name, alt: s.name}).addTo(map);
                    });
                    markers.forEach((marker) => {
                        map.removeLayer(marker);
                    });
                    markers = newMarkers;
                } else {
                    //TODO pedir mas zoom
                }


                document.querySelector('#location-ok').addEventListener('click', () => {
                    if ("geolocation" in navigator) {
                        navigator.geolocation.getCurrentPosition(
                            (position) => {
                                map.setView([postion.coords.longitude, position.coords.latitude], 14);
                            },
                            () => {
                                // failed to get a GPS location before timeout!
                            }, 
                            {
                                enableHighAccuracy: false,
                                timeout: 4000,
                                maximumAge: 1000 * 60 * 10
                            }
                        );
                    }


                });
                


                     //navigator.geolocation.getCurrentPosition(success, error);

                

            });
        </script>
    </body>
</html>
