<!DOCTYPE html>
<html lang="es">
	<head>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<style>
    		body { font-family: system-ui, sans-serif; }
            #map { position: absolute; left: 0; bottom: 0; right:0; top:0; z-index: -1; }
    	</style>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin="">
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
    </head>
    <body>
        <div id="map"></div>
        <p>Hola</p>
        {% url 'stations' as stationsUrl %}
        <script>
            let stationsUrl = "{{ stationsUrl|escapejs }}";
            let map = L.map('map')
                .setView([40.4168, -3.7038], 14)
                .locate({setView: true, maxZoom: 14});
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            map.on('zoomlevelschange resize load viewreset zoomend moveend', async (e) => {
                let response = await (await fetch(stationsUrl)).json();
                response.stations.forEach( (station) => {
                    let s = {};
                    [
                        s.pk,
                        s.name,
                        s.petrol95,
                        s.petrol98,
                        s.gasoil,
                        s.address,
                        s.town,
                        s.city,
                        s.postal_code,
                        s.location
                    ] = station
                
                    L.marker(s.location.reverse(), { title: s.name, alt: s.name}).addTo(map);

                });
                
            });
        </script>
    </body>
</html>
